{{render "box" content}}

<form role="form">
	<div class="form-group">
		<label>Description</label>
		{{input value=description class="form-control"}}
	</div>
	<div class="form-group form-inline">
		<label>Width</label>
		{{input value=width class="form-control"}}

		<label>Height</label>
		{{input value=height class="form-control"}}
	</div>
</form>