::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	#gradient > .horizontal(@panel-default-border, darken(@panel-default-border, 5%));
}

body {
	background: #fefefe;
}

.sidebar {
	.make-md-column(3);
}

.main {
	.make-md-column(9);
}
