<div class="box">
	{{#each rows}}
		<div class="box-row">
			{{#each}}
				{{#view "box-square" contentBinding="this"}}
					{{x}} &times; {{y}}<br />{{id}}
				{{/view}}
			{{/each}}
		</div>
	{{/each}}
</div>
