{{render "_box-detail" content}}

<form class="box-edit" role="form">
	<div class="form-group">
		<label>Description</label>
		{{input value=description class="form-control"}}
	</div>

	<button class="btn btn-primary" {{action saveBox}}>
		Save
	</button>

	<button class="btn btn-danger" {{action deleteBox}}>
		Delete
	</button>
</form>