<div class="panel-heading">
	Boxes
</div>

<div class="panel-body">
	<ul class="list-group">
		{{#each controller}}
			<li class="list-group-item">
				{{description}}
			</li>
		{{/each}}
	</ul>

	<button class="btn btn-primary col-md-12">
		Create a Box
	</button>
</div>