<div class="panel-heading">
	Boxes
</div>

<div class="panel-body">
	<ul class="list-group">
		<li class="list-group-item">
			Box 1
		</li>
		<li class="list-group-item">
			Box 2
		</li>
		<li class="list-group-item">
			Box 3
		</li>
	</ul>

	<button class="btn btn-primary col-md-12">
		Create a Box
	</button>
</div>