<div class="panel panel-default">
	<div class="panel-heading">
		Boxes
		{{#link-to "boxes.new" tagName="button" class="btn btn-sm btn-default pull-right"}}
			<span class="glyphicon glyphicon-plus"></span>
		{{/link-to}}
	</div>

	<div class="panel-body">
		<ul class="list-group">
			{{#each}}
				{{#link-to "box" this.content tagName="li" class="list-group-item"}}
					{{partial "box-mini"}}
					<div class="box-description">{{description}}</div>
				{{/link-to}}
			{{/each}}
		</ul>
	</div>
</div>
