<div class="panel-heading">
	Boxes
</div>

<div class="panel-body">
	<ul class="list-group">
		{{#each itemController="box"}}
			<li class="list-group-item">
				{{partial "box-mini"}}
				<div class="box-description">{{description}}</div>
			</li>
		{{/each}}
	</ul>

	<button class="btn btn-primary col-md-12">
		Create a Box
	</button>
</div>