<div class="panel panel-default">
	<div class="panel-heading">
		Plants
	</div>

	<div class="panel-body">
		<ul class="list-group">
			{{#each}}
				<li class="list-group-item">
					<img {{bind-attr src=icon.small}} />
					<div class="plant-name">{{name}}</div>
				</li>
			{{/each}}
		</ul>
	</div>
</div>
