<div class="panel panel-default">
	<div class="panel-heading">
		Plants
	</div>

	<div class="panel-body">
		<ul class="list-group">
			{{#each}}
				{{#view "App.PlantView" class="plant list-group-item" tagName="li"}}
					<img {{bind-attr src=icon.small}} />
					<div class="plant-name">{{name}}</div>
				{{/view}}
			{{/each}}
		</ul>
	</div>
</div>
